<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Bial">
  <test  name="Regression">
    <classes>
      <class name="testScripts.FlightResultsPageTest"/>
      <class name="testScripts.HomePageTest"/>
      <class name="testScripts.FlightReviewBookPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
